<html lang="en">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <meta charset="UTF-8">
    <title>PBNET - Y12STUDIO</title>
    <style>
        .menuBtn {
            background-color: transparent;
            border: none;
            margin-left: 16px;
        }

        md-list .md-button {
            color: inherit;
            text-align: left;
            width: 100%;
        }

        .inputdemoErrors .inputErrorsApp {
            min-height: 48px;
        }
    </style>
</head>

<body>
    <div layout="column" ng-controller="AppCtrl" ng-app="MyApp">
        <md-toolbar layout="row">
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn">
                <span class="md-visually-hidden">Menu</span>
            </button>
            <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Bitcoin Testnet Wallet</h1>
        </md-toolbar>

        <md-content layout="column" flex class="md-padding">
            <h3>Step 1</h3>
            <form name="projectForm">
                <md-input-container>
                    <label>Passcode</label>
                    <input md-maxlength="30" required name="passcode" ng-model="project.passcode">
                    <div ng-messages="projectForm.passcode.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>
            </form>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-raised" ng-click="getRanPasscode()">Random Passcode</md-button>
            </section>
            <h3>Step 2</h3>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-raised" ng-click="getAddress()">Get Address</md-button>
            </section>
            <h4>
                <span style="margin-right:2em;color:#acacac">ADDRRESS:</span>{{addr}}</h4>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-primary" ng-href="/abe/address/{{addr}}" target="_blank">Abe Browser</md-button>
                <md-button class="md-primary" ng-href="/fc/faucet/{{addr}}/1.68" target="_blank">Faucet 1.68</md-button>
                <md-button class="md-raised" ng-click="getUnspent()">Get Balance</md-button>
            </section>
            <div layout="row" ng-repeat="item in utxos">
                <div>
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        Block#{{item.block_number}}
                        <span style="margin-left:0.5em">BTC {{item.value}}</span>
                        <span ng-if="exists(item, selected)">*</span>
                    </md-checkbox>
                </div>
                <div>
                    <md-button class="md-primary" ng-href="/abe/tx/{{item.tx_hash}}" target="_blank">{{ item.tx_hash|limitTo:8}}....</md-button>
                </div>
            </div>
            <h2 class="md-title">Selected UTXOs</h2>
            <code style="display: block; padding: 8px;">{{calc(selected) | json}}</code>
        </md-content>
    </div>
    <script src="js/bitcore/0.12.5/bitcore.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script>
        angular.module('MyApp', ['ngMaterial', 'ngMessages'])
            .controller('AppCtrl', function($scope, $http) {

                var bitcore = require('bitcore');
                var Networks = bitcore.Networks;
                // bitcoin/chainparams.cpp at master · bitcoin/bitcoin
                // https://github.com/bitcoin/bitcoin/blob/master/src/chainparams.cpp
                Networks.add({
                    name: 'regnet',
                    alias: 'regnet',
                    pubkeyhash: 0x6f,
                    privatekey: 0xef,
                    scripthash: 0xc4,
                    xpubkey: 0x043587cf,
                    xprivkey: 0x04358394,
                    networkMagic: 0xfabfb5da,
                    port: 18333,
                    dnsSeeds: [],
                });
                Networks.defaultNetwork = Networks.get('regnet');
                var Buffer = bitcore.deps.Buffer;
                $scope.project = {
                    passcode: 'Red TaiChung MayDay',
                    rate: 500
                };

                $scope.getRanPasscode = function() {
                    var ranNum = Math.floor((Math.random() * 100000) + 1);
                    $scope.project.passcode = 'Green TaiChung ' + ranNum
                }

                $scope.getAddress = function() {
                    var value = new Buffer($scope.project.passcode);
                    var hash = bitcore.crypto.Hash.sha256(value);
                    var bn = bitcore.crypto.BN.fromBuffer(hash);
                    var address = new bitcore.PrivateKey(bn).toAddress();
                    $scope.addr = address.toString();
                }

                $scope.devitems = [{
                    tx_hash: 'd1ed208ae840e9027f9699ed5480b4ef781e124bf307fbe76a51d6e9152e9001',
                    block_number:101,
                    tx_output_n: 0,
                    value: 19823
                }, {
                    tx_hash: '4061c75ac4ddff2f3e16eefdf6466e38cbc32d295bf5b0e087ba143af9141e64',
                    block_number:103,
                    tx_output_n: 1,
                    value: 12345
                }, {
                    tx_hash: 'b0ede408d5e30975e88b9ed9da950f2468b77ce86986144a00eef286f9adc1bd',
                    block_number:107,
                    tx_output_n: 0,
                    value: 23456
                }];

                $scope.selected = [];

                $scope.toggle = function(item, list) {
                    var idx = list.indexOf(item);
                    if (idx > -1) list.splice(idx, 1);
                    else list.push(item);
                };

                $scope.exists = function(item, list) {
                    return list.indexOf(item) > -1;
                };

                $scope.calc = function(list) {

                    var total = 0;
                    list.forEach(function(element,index,array){
                        total += element['value'];
                    });

                    r = {
                        amount: total,
                        utxos: list
                    };

                    return r;
                };


                $scope.getUnspent = function() {
                    //var unspenturl = 'http://192.168.2.73/abe/unspent/' + $scope.addr + '?format=json';
                    var unspenturl = '/abe/unspent/' + $scope.addr + '?format=json';
                    $http.get(unspenturl).
                    success(function(data, status, headers, config) {
                        console.log(data);
                        $scope.utxos = data['unspent_outputs'];
                    }).
                    error(function(data, status, headers, config) {
                        // log error
                    });
                }

            });
    </script>

</body>

</html>
