<html lang="en">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="initial-scale=1" />
    <meta charset="UTF-8">
    <title>INSTBITCOIN - Y12STUDIO</title>
    <style>
        .menuBtn {
            background-color: transparent;
            border: none;
            margin-left: 16px;
        }

        md-list .md-button {
            color: inherit;
            text-align: left;
            width: 100%;
        }

        .inputdemoErrors .inputErrorsApp {
            min-height: 48px;
        }
    </style>
</head>

<body>
    <div layout="column" ng-controller="AppCtrl" ng-app="MyApp">
        <md-toolbar layout="row">
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn">
                <span class="md-visually-hidden">Menu</span>
            </button>
            <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Bitcoin Testnet Wallet</h1>
        </md-toolbar>

        <md-content layout="column" flex class="md-padding">
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-primary" ng-href="/abe/" target="_blank">BlockChain</md-button>
                <span ng-repeat="item in users">
                    <md-button class="md-primary" ng-click="ckPickUser(item)">{{item.name}}</md-button>
                </span>
            </section>
            <div ng-hide="user == null">
            <h3>User</h3>
                {{user.name}}/{{user.address}}
                <md-button class="md-primary" ng-href="/abe/address/{{user.address}}" target="_blank">blockchain</md-button>
                <md-button class="md-primary" ng-click="getUnspent(user.address)">UTXOs</md-button>
            </div>
            <h3>Step 1</h3>
            <form name="projectForm">
                <md-input-container>
                    <label>Passcode</label>
                    <input md-maxlength="30" required name="passcode" ng-model="project.passcode">
                    <div ng-messages="projectForm.passcode.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>
            </form>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-raised" ng-click="getRanPasscode()">Random Passcode</md-button>
                <md-button class="md-raised" ng-click="getAddress()">Get Address</md-button>
            </section>
            <h4>
                <span style="margin-right:2em;color:#acacac">ADDRRESS:</span>{{addr}}</h4>
            <div layout="row" ng-repeat="item in utxos">
                <div>
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        Block#{{item.block_number}}
                        <span style="margin-left:0.5em"><i class="fa fa-btc"></i>{{item.value/100000000}}</span>
                        <span ng-if="exists(item, selected)">*</span>
                    </md-checkbox>
                </div>
                <div>
                    <md-button class="md-primary" ng-href="/abe/tx/{{item.tx_hash}}" target="_blank">{{ item.tx_hash|limitTo:8}}....</md-button>
                </div>
            </div>
            <h2 class="md-title">Selected UTXOs</h2>
            <code style="display: block; padding: 8px;">{{calc(selected) | json}}</code>
            <form name="projectForm">
                <md-input-container>
                    <label>ToAddress</label>
                    <input required ng-model="sendto.address">
                </md-input-container>
                <md-input-container>
                    <label>Amount  <i class="fa fa-btc"></i>{{sendto.amount/100000000}}</label>
                    <input type="number" name="amount" required ng-model="sendto.amount">
                </md-input-container>
            </form>
            <h3>Step 3</h3>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-raised" ng-click="txSign(user.wif)">TxSign</md-button>
                <md-button class="md-raised" ng-click="broadcast()">Broadcast</md-button>
            </section>
            <h2 class="md-title">TxSign</h2>
            <code style="display: block; padding: 8px;">{{txSignResult}}</code>
        </md-content>
    </div>
    <script src="http://0.y12.tw/js/bitcore/0.12.15/bitcore.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
